# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build cache
/go.work
/go.work.sum

# Go coverage
cover.out

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl
*.log

# Python envs
.venv/
venv/
.env/

# Conda
conda-meta/

# uv
uv.lock

# Dagster
.dagster/
analytics/.tmp_dagster_home_*/
analytics/.tmp_dagster_home_*

# Snapshots
aggregation/snapshot/
*.sqlite

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
